#### Projects ####
Ue2/*
Ue3/*
Ue4/*
media/*


#### General ####
*.zip

# Application specific filesv
node_modules
.sass-cache


#### Mac ####
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes


#### Jetbrains-specific ####
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
*workspace.xml

# Mongo Explorer plugin:
.idea/mongoSettings.xml

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
